
@{
    ViewBag.Title = "reserving page";
    Layout = "~/Areas/admin/Views/adminLayout.cshtml";
}
 
<link href="~/Content/themes/base/all.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Areas/Admin/js/jtable/jquery.jtable.min.js"></script>
<link href="~/Areas/Admin/js/jtable/themes/metro/blue/jtable.css" rel="stylesheet" />
<script src="~/Areas/Admin/js/adminJs.js"></script>
<h3 class="text-center">حجوزات  اليوم</h3>
<div id="reservingsToday">

</div>

