<div class="row adviceRecord">
    <div class="col-xs-12">
        <div class="advice" onclick="editAdvice(this)">
            <!--advice content here-->
        </div>
        <div class="controls">
            <i class="fa fa-edit fa-lg"></i>
            <i class="fa fa-trash fa-lg"></i>
        </div>        
    </div>
    <div class="col-xs-12 notifications">
        <i class="fa fa-comments-o fa-lg" id="showComments"></i>
        <i class="fa fa-share fa-lg"></i>
        <i class="fa fa-eye fa-lg"></i>
        <i class="fa fa-heart fa-lg"></i>
    </div>
    <div class="col-xs-12 notf-number">
        <div><!--comments Number of advice--></div>
        <div><!--shares number of advice--></div>
        <div><!--seens number of advice--></div>
        <div><!--likes number of advice--></div>
    </div>
</div>
