<div class="doc-prev-advices">
    <h3>
        <i class="fa fa-info fa-lg"></i> Previous Advices
    </h3>
    <div class="center-block text-center">
        <i class="loading-circle fa fa-circle-o-notch fa-lg text-center"></i>
    </div>
    <div class="alert alert-info hidden"><!--text will be written here by javascript--></div>
    <button class="hidden oldAdvices btn btn-default" onclick="getDocorAdvices()">Old advices <span class="hint"></span></button>
    <div class="container-fluid advices">
        <!--list of advices records will appended by javascript here-->
    </div>
</div>
