
<div class="today-reseveing text-center">
    <h3><i class="fa fa-calendar-check-o fa-lg"></i>Today Reservings</h3>
    <div class="statis text-left">
        <p>Statistics</p>
        <p>You have <span> <span id="examinsNumber"></span> Examinations </span> And <span><span id="consultsNumber"></span> Consults</span> today</p>
    </div>
    <div class="table-reserving">
        <h3>Reservings Table</h3>
        <i class="loading-circle fa fa-circle-o-notch fa-lg"></i>
        <div class="alert alert-info hidden"></div>
        <table class="table-responsive">
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Patient Name</th>
                    <th>Mobile number</th>
                    <th>Examination/Consult</th>
                </tr>
            </thead>
            <tbody>@*the data will be loaded by javascript here*@</tbody>
        </table>
    </div>
</div>