@model int
@{
    byte pageSize = Html.getMaxNumberOfCardsForPage();
    var total = Model;
    int pagesCount =(int)Math.Ceiling((double)total /pageSize);
}
<div class="pull-left text-left pagination" id="pagination">
    <ul class="w3-pagination w3-border w3-round">
        @if (pagesCount > 10)
        {
            <li class="first edge"><a href="#">«</a></li>
        }
        @if (total > pageSize)
        {
            for (int i = 1; i <= pagesCount; i++)
            {
                if (i == 1)
                {
                    <li><a class="w3-red" href="#">@i</a></li>
                }
                else
                {
                    <li><a href="#">@i</a></li>
                }
            }
        }
        @if (pagesCount > 10)
        {
            <li class="last edge"><a href="#">»</a></li>
        }
    </ul>
</div>
<div style="clear:both"></div>
