<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">عرض معلومات الطبيب</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 adminImage">
                            <img class="img-responsive img-thumbnail center-block" src="" />
                            <div class="imageControls hidden-xs">
                                Full Screen <i class="glyphicon glyphicon-fullscreen" onclick="fillScreenImage($('.adminImage img'),this)"></i>
                            </div>
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <table class="table table-bordered table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th data-value='name'>
                                            الاسم
                                        </th>
                                    </tr>
                                    <tr>
                                        <th data-value='dateOfJoin'>
                                            تاريخ التسجيل
                                        </th>
                                    </tr>
                                    <tr>
                                        <th data-value='phone'>
                                            رقم الهاتف
                                        </th>
                                    </tr>
                                    <tr>
                                        <th data-value='mail'>
                                            البريد الالكترونى
                                        </th>
                                    </tr>
                                    <tr>
                                        <th data-value='type'>
                                            النوع
                                        </th>
                                    </tr>
                                    <tr>
                                        <th data-value='periority'>
                                            سعر الكشف
                                        </th>
                                    </tr>
                                    <tr>
                                        <th data-value='periority'>
                                            التخصص
                                        </th>
                                    </tr>
                                    <tr>
                                        <th data-value='periority'>
                                            اللقب
                                        </th>
                                    </tr>
                                    <tr>
                                        <th data-value='periority'>
                                            محافظة
                                        </th>
                                    </tr>
                                    <tr>
                                        <th data-value='periority'>
                                            منطقة
                                        </th>
                                    </tr>
                                    <tr>
                                        <th data-value='periority'>
                                            عدد الحجوزات الكلية
                                        </th>
                                    </tr>
                                    <tr>
                                        <th data-value='periority'>
                                            حجوزات اليوم
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                شكرا على اطلاعك
            </div>
        </div>
    </div>
</div>
