<div class="modal fade" id="sendEmail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">ارسل رسالة الى هذا  البريد الالكترونى للحقل</h4>
            </div>
            <div class="modal-body">
                <form id="sendEmailForm">
                    <div class="form-group">
                        <input name="subject" class="form-control" id="subject" placeholder="موضوع الرسالة">
                    </div>
                    <div class="form-group">
                        <textarea name="message" class="form-control" id="message" placeholder="اكتب الرسالة التى تريد ارسالها الى هذا البريد الالكترونى"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary"><i class="fa fa-send"></i> ارسال</button>
                </form>
            </div>
        </div>
    </div>
</div>

